<h1>Public Images</h1>

<%= link_to 'Upload Image', new_image_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Caption</th>
  </tr>

  <% @images.each do |image| %>
    <tr>
      <td><%= image.id %></td>
      <td><%= link_to 'Show', image_path(image) %></td>
      <td><%= image.caption %></td>
    </tr>
  <% end %>
</table>

