<h1>Public Images</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Caption</th>
  </tr>

  <% @images.each do |image| %>
    <tr>
      <td><%= image.id %></td>
      <td>Image</td>
      <td><%= image.caption %></td>
    </tr>
  <% end %>
</table>

